---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install base packages
  apt:
    name: "{{ base_packages }}"
    state: present

- name: Set timezone
  timezone:
    name: "{{ timezone }}"
