---
- name: Update apt cache
  apt:
    update_cache: yes

- name: Install base packages
  apt:
    name: "{{ base_packages }}"
    state: present

- name: Set timezone
  timezone:
    name: "{{ timezone }}"

- name: Verify base packages are installed
  command: which {{ item }}
  loop: "{{ base_packages }}"
  changed_when: false

- name: Update SSH config
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
  notify: restart ssh
